
#-----------------------------------------------------------------------------#
# Ignore everything by default:
#-----------------------------------------------------------------------------#

/*
/*/


#-----------------------------------------------------------------------------#
# But allow those files and folders:
#-----------------------------------------------------------------------------#

!LICENSE
!README.md
!.editorconfig
!.flowconfig
!.gitattributes
!.gitignore
!/.vscode
!/src
!/test
!/package.json
!/protractor.conf.js
!/webpack.config.js


#-----------------------------------------------------------------------------#
# But make sure to ignore those regardless:
#-----------------------------------------------------------------------------#

.DS_Store
Thumbs.db
